@model RecruitmentSystem.Domain.Entities.Helper.CandidatoFilterViewModel

@{
    ViewData["Title"] = "Gestion de Candidatos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}

<h2>Gestion de Candidatos</h2>
<p>
    <a asp-action="Create" class="btn btn-success btn-sm">Agregar</a>
</p>

<form asp-action="Index" method="get">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Competencias" class="control-label">Competencias</label>
                <select asp-for="Competencias" id="select-competencias" class="form-control" asp-items="@ViewBag.Competencias" multiple="multiple">
                    <option disabled>Selecciona</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Puestos" class="control-label">Puesto</label>
                <select asp-for="Puestos" id="select-puestos" class="form-control" asp-items="@ViewBag.Puestos" multiple="multiple">
                    <option disabled>Selecciona</option>
                </select>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-end">
            <div class="form-group">
                <input type="submit" value="Filtrar" class="btn btn-primary btn-sm" />
            </div>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Cedula
            </th>
            <th>
                Nombre
            </th>
            <th>
                Departamento
            </th>
            <th>
                Puesto
            </th>
            <th>
                Salario Aspira
            </th>
            <th>
                Recomendado Por
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Candidatos)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Cedula, "IniciarContratacion", "Contratacion", new { id = item.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PuestoAspira.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalarioAspira)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecomendadoPor)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalle", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript" src="http://davidstutz.github.io/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#select-competencias').select2({
                placeholder: "Selecciona",
                allowClear: true
            });

            $('#select-puestos').select2({
                placeholder: "Selecciona",
                allowClear: true
            });
        });
    </script>
}
