@model IEnumerable<RecruitmentSystem.Domain.Entities.Puesto>

@{
    ViewData["Title"] = "Gestion de Puestos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestion de Puestos</h2>
<p>
    <a asp-action="Create" class="btn btn-success btn-sm">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivelRiesgo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivelMinimoSalario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivelMaximoSalario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelRiesgo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelMinimoSalario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelMaximoSalario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Eliminar", "Delete", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
