@model RecruitmentSystem.Domain.Entities.Helper.EmpleadoFilterViewModel

@{
    ViewData["Title"] = "Reporte de Empleados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Lista Empleados</h4>
<div class="row">
    <form asp-action="ListaEmpleados" method="get" class="w-100">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="FechaDesde" class="control-label"></label>
                    <input asp-for="FechaDesde" class="form-control" type="date" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="FechaHasta" class="control-label"></label>
                    <input asp-for="FechaHasta" class="form-control" type="date" />
                </div>
            </div>
            <div class="col-md-3 d-flex align-items-end">
                <div class="form-group">
                    <input type="submit" value="Filtrar" class="btn btn-primary" />
                </div>
                <div class="form-group ml-1">
                    <a asp-action="ListaEmpleados" class="btn btn-info">Limpiar</a>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <form asp-action="GenerateExcelReport" method="post" class="w-100">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <input name="fechaDesde" class="form-control" hidden type="datetime" value="@Model.FechaDesde"/>
                    <input name="fechaHasta" class="form-control" hidden type="datetime" value="@Model.FechaHasta"/>
                    <input type="submit" value="Exportar" class="btn btn-outline-secondary btn-sm" />
                </div>
            </div>
        </div>
    </form>
</div>

@if (ViewBag.ErrorMessage != null)
{
    @await Html.PartialAsync("ErrorAlert", (string)ViewBag.ErrorMessage);
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Cedula")
            </th>
            <th>
                @Html.DisplayName("Nombre")
            </th>
            <th>
                @Html.DisplayName("Fecha Ingreso")
            </th>
            <th>
                @Html.DisplayName("Departamento")
            </th>
            <th>
                @Html.DisplayName("Puesto")
            </th>
            <th>
                @Html.DisplayName("Salario Mensual")
            </th>
            <th>
                @Html.DisplayName("Estado")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Empleados)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaIngreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Puesto.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalarioMensual)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado, "DisplayStatus")
                </td>
            </tr>
        }
    </tbody>
</table>
