@model IEnumerable<RecruitmentSystem.Domain.Entities.Empleado>

@{
    ViewData["Title"] = "Gestion de Empleados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestion de Empleados</h2>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puesto.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioMensual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puesto.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioMensual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado, "DisplayStatus")
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.Id }) |
                @Html.ActionLink("Detalle", "Details", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
