@model RecruitmentSystem.Domain.Entities.ExperienciaLaboral

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Experiencia Laboral</h3>
<h4>Esta seguro que sea eliminar esto?</h4>
<div>
    <hr />
    @if (ViewBag.ErrorMessage != null)
    {
        @await Html.PartialAsync("ErrorAlert", (string)ViewBag.ErrorMessage);
    }
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PuestoOcupado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PuestoOcupado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDesde)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaDesde)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHasta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaHasta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidato.Nombre)
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
