@model IEnumerable<RecruitmentSystem.Domain.Entities.Competencia>

@{
    ViewData["Title"] = "Gestion De Competencias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestion De Competencias</h2>

<p>
    <a asp-action="Create" class="btn btn-success btn-sm">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado, "DisplayStatus")
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
